<ion-header>
  <ion-navbar color="dark">
    <!-- <ion-title text-center> -->
    <ion-title>
      Web Solution Enabler Contacts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-header>
    <ion-navbar>
      <ion-buttons end>

        <button *ngIf="!signed" (click)="openLogin()" ion-button icon-only>
          <ion-icon color="primary" name="contact"></ion-icon>
        </button>

        <button *ngIf="!signed" (click)="openRegister()" ion-button icon-only>
          <ion-icon color="primary" name="person-add"></ion-icon>
        </button>

        <button *ngIf="signed" (click)="openQuery()" ion-button icon-only>
          <ion-icon color="primary" name="search"></ion-icon>
        </button>

        <button *ngIf="signed" (click)="openProjects()" ion-button icon-only>
          <ion-icon color="primary" name="settings"></ion-icon>
        </button>

        <button *ngIf="signed" (click)="logout()" ion-button icon-only>
          <ion-icon color="dark" name="open"></ion-icon>
        </button>

      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-card>
    <img src="../../assets/imgs/contact.jpg" />
  </ion-card>

  <!-- <ion-card>
      <img src="../../assets/imgs/hk.jpg" />
    </ion-card> -->

</ion-content>