<ion-header>
  <ion-navbar color="dark">
    <!-- <ion-title text-center> -->
    <ion-title>
      Web Solution Enabler Contacts
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content>

  <ion-header>
    <ion-navbar>
      <ion-buttons end>

        <button *ngIf="!signed" (click)="openLogin()" ion-button icon-only>
          <ion-icon color="primary" name="contact"></ion-icon>
        </button>

        <button *ngIf="!signed" (click)="openRegister()" ion-button icon-only>
          <ion-icon color="primary" name="person-add"></ion-icon>
        </button>

        <button *ngIf="signed" (click)="openQuery()" ion-button icon-only>
          <ion-icon color="primary" name="search"></ion-icon>
        </button>

        <button *ngIf="signed" (click)="openProjects()" ion-button icon-only>
          <ion-icon color="primary" name="settings"></ion-icon>
        </button>

        <button *ngIf="signed" (click)="logout()" ion-button icon-only>
          <ion-icon color="dark" name="open"></ion-icon>
        </button>

      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-card>
    <img src="../../assets/imgs/contact.jpg" />
  </ion-card>

  <ion-card *ngIf="signed">
    <h1>{{"Welcome, " + user.firstname + " " + user.lastname}} </h1>
  </ion-card>




  <ion-card>
      <img src="../../assets/imgs/hk.jpg" />
    </ion-card>

</ion-content> -->

<ion-content padding>
  <ion-card>
    <img src="../../assets/imgs/ibm.jpg" />
  </ion-card>

  <ion-list>

    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="Password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
        <button large color="primary" ion-button (click)="login()">Login</button>
        <button large color="primary" ion-button (click)="register()">Register</button>
    </ion-item>

  </ion-list>


</ion-content>